body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ee0c0c;
}

.calculator {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

input[type="number"], button {
    margin: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    cursor: pointer;
    background-color: #4edbee;
    color: rgb(14, 1, 1);
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: #45a049;
}

p {
    font-size: 18px;
    margin-top: 15px;
}
